* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
input {
  outline: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
a {
  list-style: none;
  text-decoration: none;
  color: #020202;
}
#wrap {
  height: 100%;
  background: #eee;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 4rem;
  z-index: 1;
}
#headerTop {
  height: 2rem;
}
#logo {
  float: left;
  width: 3.55555556rem;
  height: 1.3037037rem;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem 0.25185185rem;
}
#logo img {
  width: 100%;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url("../img/menuBtn.png") no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
menuBtn_close {
  background-position: center 0.23703704rem !important;
}
menuBtn_open {
  background-position: center -1.77777778rem !important;
}
#nav {
  float: right;
  padding-top: 0.31111111rem;
}
#nav a {
  float: left;
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #690;
  color: #ccc;
  margin-right: 0.22222222rem;
  font-size: 0.62222222rem;
  text-align: center;
  border-radius: 0.11851852rem;
}
#nav #searchBtn {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  margin: 0.04444444rem 0.44444444rem 0 0;
  font-weight: bold;
  border-radius: 0.14814815rem;
}
#search {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#search [type='text']::-webkit-input-placeholder {
  color: #333;
}
#search [type='text']:focus {
  background: #ffffff;
}
#search [type='text'] {
  box-sizing: border-box;
  width: 12.28148148rem;
  height: 1.52592593rem;
  background: #999;
  padding: 0.07407407rem 0.14814815rem;
  border: 1px solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem;
  vertical-align: bottom;
}
#search [type='submit'] {
  float: right;
  width: 3.00740741rem;
  height: 1.52592593rem;
  border: none;
  background: #414040;
  color: #fff;
  font-size: 0.60740741rem;
  border-radius: 0.22222222rem;
}
#mask {
  width: 100%;
  position: absolute;
  top: 2rem;
  padding: 0.14814815rem 0;
  border-top: 1px solid #6a6a6a;
  background: rgba(0, 0, 0, 0.8);
}
#mask li {
  float: left;
  width: 22.5%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}
#mask li a {
  color: #ffffff;
}
#content {
  padding-top: 4rem;
}
#navs {
  box-sizing: border-box;
  height: 2.62222222rem;
  padding: 0.45925926rem 0 0.20740741rem 0;
}
#navsList {
  white-space: nowrap;
  overflow: hidden;
  float: left;
  font-size: 0;
}
#navsList li {
  font-size: 1rem;
  line-height: 1.91111111rem;
  display: inline-block;
  height: 1.91111111rem;
  padding: 0 0.56296296rem;
}
#navsList li a {
  color: #020202;
}
#navsList .active {
  background-color: #690;
}
#navsList .active a {
  color: #020202;
}
#navs_list {
  list-style: none;
  width: 500%;
  position: absolute;
  overflow: hidden;
}
#navs_list li {
  float: left;
  width: 20%;
}
#navs_list li img {
  display: block;
  width: 100%;
}
#navs_wrap {
  position: relative;
}
#navs_navs {
  position: absolute;
  top: 7.40740741rem;
  left: 0;
  bottom: 0.14814815rem;
  width: 100%;
  height: 0.14814815rem;
  line-height: 0.14814815rem;
  text-align: center;
}
#navs_navs span {
  display: inline-block;
  height: 0.44444444rem;
  width: 0.44444444rem;
  background: gray;
  border-radius: 50%;
}
#navs_navs .active {
  background: red;
}
.tab {
  width: 15.4962963rem;
  background: #fff;
  margin: 0 auto;
}
.tab_header {
  height: 2rem;
  line-height: 2rem;
}
.tab_header h2 {
  float: left;
  font-size: 24px;
}
.tab_header a {
  float: right;
  font-size: 12px;
  color: black;
}
.tab_nav {
  display: inline-block;
  top: -0.74074074rem;
  position: relative;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
}
.tab_nav li {
  padding: 0.44444444rem;
  height: 1.55555556rem;
  width: 1.55555556rem;
  font-size: 0.65185185rem;
  float: left;
}
.tab_nav a {
  margin-left: -0.44444444rem;
  margin-top: -0.74074074rem;
  color: #6b6b6b;
  list-style: none;
  text-decoration: none ;
}
.tab_nav span {
  position: absolute;
  bottom: -0.2962963rem;
  left: -0.07407407rem;
  text-align: center;
  display: block;
  width: 1.48148148rem;
  height: 0.17777778rem;
  background: #6f900d;
}
.tab_list li a {
  color: black;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab_list li {
  float: left;
  box-sizing: border-box;
  width: 7.4962963rem;
  margin: 0.11851852rem;
  padding: 0.07407407rem;
  font-size: 0.59259259rem;
  background: #efefef;
  color: #020202;
}
.tab_list li img {
  width: 100%;
}
.ice .ice_left,
.ice .ice_right {
  float: left;
}
.tab_list .ice span {
  margin-top: 0.14814815rem;
  display: inline-block;
  vertical-align: bottom;
}
.ice .ice_pic {
  width: 0.59259259rem;
  height: 0.59259259rem;
  background: url("../img/ice.png");
  line-height: 0.59259259rem;
}
.tab_wrap {
  width: 300%;
  overflow: hidden;
}
.tab_wrap ul {
  width: 33.3%;
  float: left;
}
.tab_loading {
  height: 1.4962963rem;
  width: 0.35555556rem;
  opacity: 0;
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
#scroll {
  height: 100%;
  width: 0.14814815rem;
  position: absolute;
  right: 0;
  top: 0;
  background: lawngreen;
}
